.body {
    background-color: whitesmoke
}

h3, p {
    font-family: 'Cinzel', serif;
    color:darkslategrey;
    text-align: left;
}
/* images on home page for people */
img {
    height: auto;
   
}
/* cards for pics */
div.polaroid {
  width: 500px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 50px;
  float: left;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.staff {
    height: 200px;
    width: 200px;
}

.service {
  text-align: center;
}

.more {
  text-align: left;
}

.fb {
  height: 65px;
  width: 65px;
}

.service1 {
  text-align: center;
  font-weight: bold;
}

.name {
  font-weight: bold;
}

#hopeluthpara {
  margin-top: 35px;
}

.footer {
  text-align: center;
  margin: 25px;
}

.float {
  float: left;
  flex-wrap: inherit;
  margin-right: 15px;
}

.couple {
  width: 300px;
  height: auto;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
/* @media only screen and (max-device-width: 1366px) {
  .parallax1 {
    background-attachment: scroll;
    height: 100%;
    width: 100%;
  }
} */

@media only screen and (max-device-width: 768px) {
  .parallax1 {
    background-image: url("assets/images/openbook.jpg");
              
        
    /* Set a specific height */
    height: 100%;
    width: auto;

    overflow: auto;

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
  }

}
@media only screen and (max-device-width: 480px) {
  .parallax1 {
    background-image: url("assets/images/openbook.jpg");
              
        
    /* Set a specific height */
    height: 100px;
    width: auto;

    overflow: auto;

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
  }

}