.body {
    background-color: whitesmoke
}

h3, p {
    font-family: 'Cinzel', serif;
    color:darkslategrey;
    text-align: left;
}
/* images on home page for people */
img {
    height: 200px;
   
}
/* cards for pics */
div.polaroid {
  width: 400px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 50px;
  float: left;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.staff {
    height: 200px;
    width: 200px;
}

.service {
  text-align: center;
}

.more {
  text-align: left;
}

.fb {
  height: 65px;
  width: 65px;
}

.service1 {
  text-align: center;
  font-weight: bold;
}

.name {
  font-weight: bold;
}

#hopeluthpara {
  margin-top: 35px;
}

.footer {
  text-align: center;
  margin: 25px;
}

.float {
  float: left;
  flex-wrap: inherit;
  margin-right: 15px;
}
